:root{
    --blanco:#ffffff;
    --negro:#212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;
    --fuente_p:'Mali', cursive;
    --fuente_s:'Srisakdi', cursive;
}

html   {
    font-size: 62.5%;
}
body{
    font-size: 16px;   /*1rem = 10px*/
    font-family: var(--fuente_p);
    margin: 1rem;
}

h1.titulo{
    font-size: 5rem;
    font-weight: bold;
}

h2.titulo{
    font-size: 4rem;
    font-weight: bold;
}

p{
    margin: 2rem;
    text-align: justify;
}
.titulo{
    text-align: center;
}  
.styleparrafo{
    font-family: var(--fuente_s);
    font-weight: bold;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}
.nav-prin{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media (min-width: 768px) {
    .nav-prin {
        flex-direction: row;
        justify-content: space-between;
    }
 }
.nav-prin a{
    padding: 1.3rem;
    display: block;
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
}

.nav-prin a:hover{
    color: var(--negro);
    background-color: var(--primario);
}
